video {
  object-fit: cover;
  width: 100%;
  height: 80vh;
  position: fixed;
  z-index: -1;
}

.title-container {
  height: 80vh;
  --w: 100vw;
  width: var(--w);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
  object-fit: contain;
}

.title-container > h1 {
  color: #fff;
  font-size: calc((var(--w) / 20));
  margin-top: -100px;
}

.title-container > p {
  margin-top: 8px;
  color:#fff;
  font-size: calc((var(--w) / 32));
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fa-play-circle {
  margin-left: 4px;
}
