.var-highlight{
  color: #03e9f4;
}
.string-highlight{
	color: #7b2cbf;
}

#typewriter{
    color: white;
		font-size: 1.5em;
    font-weight: bold;
		margin: 0;
		font-family: "Courier New";

		&:after{
			content: "|";
			animation: blink 500ms linear infinite alternate;
		}
}

@-webkit-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@-moz-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}