@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.about-title {
  font-family: "Poppins", sans-serif;
  font-size: 3em;
  font-weight: 500;
  color: #343a40;
  letter-spacing: 5px;
  text-transform: uppercase;
  transition: 0.5s;
  width: 10.75em;
  margin-bottom: .5em;
  margin-left: 1em;
  padding-top: 3em;
  display: flex;
  align-items: center;
}

.about-title:hover {
  color: #7b2cbf;
  text-shadow: 0 0 5px #03e9f4,
               0 0 25px #03e9f4,
               0 0 50px #03e9f4,
               0 0 100px #03e9f4;
}

.about-container {
  width: 99%;
  height: 200px;
  color: white;
  border: solid;
  overflow: hidden;
  font-size: 20px;
  
}

.about-container:hover {
  height: 930px;
  border: solid;
  overflow: visible;
}

.avatar {
  margin-right: 50px;
}

.about-me-section {
  display: flex;
  justify-content: center;
}